.fourth-container {
  padding: 15px 0;
  display: flex;
  justify-content: space-around;
}

.fourth-box {
  width: 43%;
}

@media (max-width: 900px) {
  .fourth-container {
    flex-direction: column;
  }

  .fourth-box {
    width: 100%;
  }

  .fourth-text-container {
    width: 70%;
    margin: 0 auto;
  }
}
