.login-container {
  width: 30%;
  margin: 0 auto;
  padding: 30px;
  background-color: #fff;
  height: 70vh;
  box-shadow: -1px -1px 23px 4px rgba(0, 0, 0, 0.75);
  opacity: 0.9;
}

@media (max-width: 600px) {
  .login-container {
    width: 80%;
    box-shadow: none;
  }
}
